@font-face {
    font-family: PingFangSC-Regular;
    src: url(fonts/PingFang-Regular.ttf);
    /*src: url(fonts/bg_about.png);*/
}
#achieve{
	margin-top: 40px;
}
#achieve ul{
	height: 60px;
	background: none;
}
#achieve ul li{
	border-bottom: 1px solid rgba(255,255,255,0.6);
	height: 60px;
}
#achieve ul li a{
	font-size: 24px;
	height: 60px;
}

#contentList{
	width: 88.2%;
}
#contentList .list-group{
	max-height: 740px;overflow-x: hidden;margin-top: 20px;
}
.list-group-item{
	cursor: pointer;
	width: 100%;
	height: 20%;
	margin-top: 15px;
	background: rgba(255,255,255,0.10);
	border: 2px solid rgba(255,255,255,0.20);
}
.list-group-item h2{
	font-family: PingFangSC-Semibold;
	font-size: 24px;
	color: #FFFFFF;
}
.list-group-item h3{
	font-size: 22px;
	color: #FFFFFF;
	opacity: 0.8;
	line-height: 30px;
	font-family: PingFangSC-Regular;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}


#screenModel{
	width: 100%;
	height: 100%;
	background: url(../images/bgImages/bg_text.png);
	background-size: cover;
	position: absolute;
	top: 0;
	z-index: 999;
}

#screenModel .clos{
	cursor: pointer;
	font-size: 43px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: white;
	position: absolute;
	top: 5%;
	left: 2.8%;
	text-align: center;
	background: rgba(100, 96, 84, 0);
}
#screenModel #textContent{
	color: white;
	width: 88.2%;
	margin: 100px auto;
	padding: 10px 40px;	
	letter-spacing: 3px;overflow: scroll;
	max-height: 800px;overflow-x: hidden;
	background: rgba(255,255,255,0.10);
	border: 2px solid rgba(255,255,255,0.20);
}
#screenModel #textContent h2,#textContent h3,hr{
	text-align: center;
}
#screenModel #textContent h4{
	text-indent: 2em;
	line-height: 36px;
}
#screenModel #textContent h2,
#screenModel #textContent h3,
#screenModel #textContent #title,
#screenModel #textContent #keyworld,
#screenModel #textContent h4{
	font-family: PingFangSC-Semibold;
	font-size: 24px;
	color: #FFFFFF;
}

#screenModel #textContent #title,
#screenModel #textContent #keyworld{
		text-indent: 0;
}
hr{
	width: 62.5%;
	opacity: 0.2;
border: 1px solid #FFFFFF;
}
/*滚动条设置*/
.list-group::-webkit-scrollbar {/*滚动条整体样式*/
	border-radius: 10px;
    width: 8px;    
    background: gray;
}
.list-group::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
   	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.list-group::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

#textContent::-webkit-scrollbar {/*滚动条整体样式*/
	border-radius: 10px;
    width: 8px;    
    background: gray;
}
#textContent::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
   	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
#textContent::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
