body, html{
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	/*width: 1920px;*/	
	/*height: auto;*/
	/*min-height: 760px;*/
}
.nav-tabs{
	height: 50px;
	background: rgba(100,96,84,0.7);
}
a:hover{
	background: none;
}
a{
	color: white;
}
#logo{
	margin-top: -10px;
	height: 60px;
}
#channel{
	background: url(../images/icon/logo.png)no-repeat center center;
}
#logoImg{
	width: 100%;
	height: 100%;
	margin: 5px;
}
#search{
	margin-top: 5px;
	height: 59px;
}
.nav-tabs a{
	height: 50px;
}
#search{
	margin-top: -10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color: white;
    cursor: default;
    background-color:  rgba(100,96,84,0);
    border:none;
    border-bottom: 7px solid white;
}
