.swiper-container {
    width: 100%;
    min-height: 450px;
    top: 100px;
    padding-bottom: 20px;
}
.swiper-slide {
	text-align: center;
}
.swiper-slide li{
	width: 22%;
	height: auto;
	margin:5px auto;
	text-align: center;
	list-style-type: none;
	display: inline-block;
}
.swiper-slide ul {
	padding-left: 0px;
}
#listTime{
	margin-bottom: 15%;;
}
#item a{
	padding: 5px 5px;
    font-size: 20px;
    width: 5%;
    height: 20px;
    border-radius: 15px;
    border: solid 2px white;
}
#item a:hover{
	color: white;
	text-decoration: none;
}
#content1,#content2,#content3,#content4,#content5,#content6,#content7,#content8{
	background: rgba(72,72,70,0.4);
	color: white;
	width: 22%;height: 47%;font-size: 20px;
	display:inline-block;position: absolute;
	border: solid 2px rgba(100,96,84,0.7);
}
#place{
	margin-top: 12%;
}
#content1,#content5{
	left: 5.6%;
}
#content2,#content6{
	left: 28.0%;
}
#content3,#content7{
	left: 50.3%;
}
#content4,#content8{
	left: 72.5%;
}
.swiper-slide ul li img{
	width: 100%;
	height: auto;
}


