.container #searchRow{
	margin-top: 16.7%;
	border-radius: 4px;
}
.container #searchRow input,.container #searchRow button{
	height: 80px;
}
.container #searchRow input{
	font-family: PingFangSC-Regular;
	font-size: 30px;
	color: #4A4A4A;
	background: #FFFFFF;
	box-shadow: 0 1px 0 0 rgba(169,169,169,0.50);
}
.container #searchRow button{
	/*background: #9B9B9B;*/
	width: 80px;
	/*background: #FFFFFF;*/
}
#resultRow ul{
	height: auto;overflow: auto;max-height: 460px;
}
#resultRow li{
	background: #F5F5F5;
}
#resultRow li a{
	text-decoration: none;
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #717171;
	
}

#resultRow li:hover{
	background: #848484;
}

#resultRow #resultRight{
	height: 460px;background: white;margin-left: -15px;
}
#resultRow #vedioTime{
	color: #FFFFFF;
    position: absolute;
    top: 10%;
    left: 76%;
    width: 68px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.3;
	background: #000000;
	border-radius: 4px;
}
#resultRow #playImg{
	position: absolute;
    top: 35%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: rgba(151,159,169,0.4);
    border-radius: 20px;
}

.list-group::-webkit-scrollbar {/*滚动条整体样式*/
    width: 12px;    
}
.list-group::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
   	border-radius: 6px;
    background: #CCCCCC;
}
.list-group::-webkit-scrollbar-track {/*滚动条里面轨道*/
    
    background: #EEEEEE;
    box-shadow: 1px 0 0 0 rgba(169,169,169,0.50);
}

#searchBox{
	width: 100%;
	height: auto;
	position: absolute;
	left: 4.7%;
	top: 44.4%;
	font-size: 24px;color: #FFFFFF;
}
#searchBox #histroySearchesTitle{
	margin-top: 2.7%;
}
#searchBox #popularSearchesItems li,
#searchBox #histroySearchesItems li{
	list-style-type: none;
	display: inline-block;
	margin-right: 3%;
}
#searchBox #popularSearchesItems li a:hover,
#searchBox #histroySearchesItems li a:hover{
	text-decoration: none;
}
